.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 0 5rem;

  position: fixed;
  left: 0;
  top: 0;
  width: 5.5rem;
  height: 100vh;

  background: linear-gradient(from top var(--white), rgb(0 0 0 / 0%) 75%);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
}

.links {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.links a {
  position: relative;
  width: 100%;
  padding: 0.8rem 0rem;

  text-align: center;
  font-size: 0rem;
}

.links a.selected {
  color: var(--blue);
}

.links a.selected::before {
  content: "";
  display: block;

  position: absolute;
  left: -4px;
  top: 0;
  height: 100%;
  width: 8px;

  background-color: var(--blue);
  border-radius: 10px;
}

.links a:not(:last-child) {
  margin-bottom: 2rem;
}
